@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&family=Barlow:wght@300;500&family=Fira+Sans:ital,wght@0,400;1,700&family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@400&display=swap");

// variables
$main-color: #ff926b;
$side-color: #222831;
$light-color: #fff3cd;
$task-name-color: #ffc38b;
$main-font: "Fjalla One", sans-serif;
$time-font: "Barlow Condensed", sans-serif;
$task-font: "Barlow", sans-serif;
$side-width: 30%;
$main-width: 100%;
// variables-end

// functions
@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
// functions-end

body {
  margin: 0;
  text-align: center;
}

#app {
  display: flex;
}
.main {
  background: $main-color;
  width: $main-width;
  min-height: 100vh;
  padding: 100px 0;
  box-sizing: border-box;
  font-family: $task-font;
  position: relative;
  .title {
    font-family: $main-font !important;
    font-size: 5rem;
    line-height: 7rem;
    text-align: left;
    color: $side-color;
    margin: 0 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
  hr {
    border: none;
    border-bottom: 1px solid $side-color;
    margin: 3px 0 0 20px;
  }

  .no-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      font-weight: 300;
      font-size: 2.3rem;
      opacity: 0.5;
    }
  }
}
// side clock
.side-clock {
  min-height: 100vh;
  background: $side-color;
  padding: 100px 0;
  color: $main-color;
  font-family: $time-font;
  box-sizing: border-box;
  position: relative;
  .time-container {
    padding: 0 10px;
    @include flex(flex-end, flex-end);
    flex-direction: column;
    .time {
      @include flex(inherit, inherit);
      h1 {
        display: inline-block;
        font-size: 10rem;
        text-transform: uppercase;
        margin: 0;
        line-height: 8rem;
        font-weight: 300;
      }
      span {
        align-self: flex-start;
        display: inline-block;
        font-size: 5rem;
        line-height: 5rem;
      }
    }
    h2 {
      font-size: 4rem;
      line-height: 4rem;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
    }
    h3 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 3rem;
      line-height: 3rem;
      margin: 0;
    }
  }
}

.side-nav {
  margin: 50px 0 0 0;
  position: relative;
  right: 0;
  ul {
    text-align: right;
    @include flex(flex-end, initial);
    flex-direction: column;
    li {
      list-style-type: none;
      width: 100%;
      margin: 0 0 20px 0;
      text-align: right;
      padding: 5px 10px 5px 20px;
      &:hover {
        background: $main-color;

        a {
          color: $side-color;
        }
      }

      &:first-child {
        font-size: 3.5rem;
        font-weight: bold;

        &:hover {
          color: $side-color;
        }
      }

      a {
        text-decoration: none;
        font-size: 3.5rem;
        color: $main-color;
        font-weight: bold;
      }
    }

    .task-list-cont {
      input[type="text"] {
        font-size: 1.5rem;
        width: 23vw;
        outline: none;
        border: none;
        border-bottom: 2px solid $main-color;
        background: none;
        color: $task-name-color;
        margin: 15px 0 20px 0;

        &::placeholder {
          color: $light-color;
          opacity: 0.7;
        }
      }
      .task-list {
        p {
          margin: 0;
          font-size: 1.7rem;
          font-family: $task-font;
          font-weight: light;
          color: $task-name-color;
          a {
            text-decoration: none;
            color: $task-name-color;
            padding: 0 15px 0 0;
            &:hover {
              background: $task-name-color;
              color: $side-color;

              span.fas {
                visibility: visible;
                margin: 0 30px 0 10px;
                opacity: 0.5;

                &:hover {
                  opacity: 1;
                }
              }
            }
            span.fas {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}

.active {
  background: $task-name-color;
  color: $side-color;
  padding: 0 15px 0 0;
}
