@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Saira+Extra+Condensed:wght@200;300&family=Spartan:wght@100;200;300;400&display=swap");

// variables
$main-color: #fdcb9e;
$side-color: #3f3f44;
$light-color: #f6f6f6;
$task-name-color: #f6f6f6;
$success: #61b15a;
$bar: #f6f6f6;
$todo: $side-color;
$danger: #e7305b;
$main-font: "Spartan", sans-serif;
$time-font: "Saira Extra Condensed", sans-serif;
$task-font: "Nunito", sans-serif;
$side-width: 30%;
$main-width: 100%;
// variables-end

// functions
@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
// functions-end

body {
  margin: 0;
  text-align: center;
  overflow-x: hidden;
}

#app {
  display: flex;
}
.main {
  background: $main-color;
  width: $main-width;
  min-height: 100vh;
  padding: 20px 0;
  box-sizing: border-box;
  font-family: $task-font;
  position: relative;
  right: 0;
  .title {
    font-family: $main-font !important;
    font-size: 5rem;
    line-height: 7rem;
    text-align: left;
    color: $side-color;
    margin: 0 20px;
    font-weight: 200;
    text-transform: uppercase;
  }
  hr {
    border: none;
    border-bottom: 1px solid $side-color;
    margin: 3px 0 0 20px;
  }

  .no-task-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      font-weight: bold;
      font-size: 2.5rem;
    }
  }
  .no-todo-item {
    @extend .no-task-items;
    h4 {
      font-size: 1.3rem;
      margin: 0;
      opacity: 0.5;
    }
    .create-todo {
      padding: 15px 20px;
      border-width: 2px;
      border-color: $side-color;
      border-radius: 2px;
      background: none;
      outline: none;
      color: $side-color;
      font-size: 1.2rem;
      font-family: $task-font;
      text-transform: uppercase;
      cursor: pointer;
      &:hover {
        background: $side-color;
        color: $task-name-color;
      }
    }
  }
  .todos-cont {
    font-family: $task-font;
    .item-cont {
      .top {
        @extend .add-item-cont;
        margin-bottom: 0 !important;
        border-radius: 3px 3px 0 0 !important;
        justify-content: flex-start !important;
        label {
          width: 18px;
          height: 18px;
          position: relative;
          z-index: 2;
          cursor: pointer;
          margin-right: 10px;
        }
        .checkbox {
          position: absolute;
          opacity: 0;
          z-index: -1;
          &:not(:checked) ~ .check {
            position: absolute;
            width: 20px;
            height: 20px;
            border: 2px solid $success;
            border-radius: 3px;
            box-sizing: border-box;
          }
          &:checked ~ .check {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            box-sizing: border-box;
            background: $success;
            @include flex(center, center);
            &::after {
              content: "✔";
              font-size: 1.5rem;
              color: $light-color;
            }
          }
          &:checked ~ .check ~ .item {
            text-decoration: line-through;
          }
        }
        .item {
          margin: 0;
          font-size: 1.3rem;
          color: $todo;
          font-weight: 400;
        }
        button.expand {
          margin-left: auto;
          background: none;
          outline: none;
          border: none;
          height: 30px;
          @include flex(center, center);
          border-radius: 3px;
          &:hover {
            background: $main-color;
          }
        }
      }
      .expanded-cont {
        @extend .add-item-cont;
        align-items: flex-start !important;
        margin-top: 0 !important;
        border-radius: 0 0 3px 3px !important;
        border-top: 1px solid #bbbb;
        flex-flow: wrap;
        height: auto;

        .date-priority-cont {
          @include flex(flex-start, flex-start);
          flex-direction: column;

          width: 300px;
          .date-cont {
            width: 100%;
            @include flex(flex-start, flex-start);
            flex-direction: column;
            label {
              font-size: 1.2rem;
              font-weight: bold;
            }
            #date {
              width: 100%;
              height: 30px;
              border: 1px solid $side-color;
              border-radius: 3px;
              background: none;
              outline: none;
              padding: 10px;
              box-sizing: border-box;
              font-size: 1.3rem;
              color: $side-color;
              margin-bottom: 20px;
            }
          }
          .priority-cont {
            @extend .date-cont;
            select {
              @extend #date;
              height: auto !important;
              padding: 1.5px 10px !important;
            }
          }
        }
        .details-cont {
          @include flex(flex-start, center);
          flex-direction: column;

          label {
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
        .btn-save-del {
          flex: 0 1 100%;
          margin-top: 20px;
          @include flex(center, flex-end);
          .del {
            @include flex(center, center);
            padding: 7px 15px;
            margin-right: 10px;
            background: none;
            border: 1px solid $danger;
            outline: none;
            font-family: inherit;
            border-radius: 3px;
            color: $danger;
            order: 2;
            &:hover {
              background: $danger;
              color: $task-name-color;
            }
            span {
              font-size: 18px;
            }
          }
          .save {
            @extend .del;
            order: 1;
            border-color: $success !important;
            background: $success !important;
            color: $task-name-color;

            &:hover {
              background: rgb(87, 161, 80) !important;
            }
          }
        }
      }
    }
    .add-item-cont {
      margin: 20px 100px;
      background: $bar;
      padding: 15px;
      border-radius: 5px;
      color: $todo;
      @include flex(center, space-around);
      input[type="text"] {
        font-family: inherit;
        background: none;
        border: none;
        font-size: 1.3rem;
        outline: none;
        flex-grow: 12;
      }
    }
    // expanded
  }
}
// side clock
.side-clock {
  min-height: 100vh;
  background: $side-color;
  padding: 20px 0;
  color: $main-color;
  font-family: $time-font;
  box-sizing: border-box;
  position: relative;
  .time-container {
    padding: 0 10px;
    @include flex(flex-end, flex-end);
    flex-direction: column;
    .time {
      @include flex(inherit, inherit);
      h1 {
        display: inline-block;
        font-size: 10rem;
        text-transform: uppercase;
        margin: 0;
        line-height: 8rem;
        font-weight: 300;
      }
      span {
        align-self: flex-start;
        display: inline-block;
        font-size: 5rem;
        line-height: 5rem;
      }
    }
    h2 {
      font-size: 4rem;
      line-height: 4rem;
      font-weight: 200;
      text-transform: uppercase;
      margin: 0;
    }
    h3 {
      text-transform: uppercase;
      font-weight: 200;
      font-size: 3rem;
      line-height: 3rem;
      margin: 0;
    }
  }
}

.side-nav {
  margin: 50px 0 0 0;
  position: relative;
  right: 0;
  ul {
    text-align: right;
    @include flex(flex-end, initial);
    flex-direction: column;
    li {
      list-style-type: none;
      width: 100%;
      margin: 0 0 20px 0;
      text-align: right;
      padding: 3px 10px 0 20px;

      &:hover {
        background: $main-color;

        a {
          color: $side-color;
        }
      }

      &:first-child {
        font-size: 3rem;
        line-height: 3rem;
        font-weight: bold;

        &:hover {
          color: $side-color;
        }
      }

      a {
        text-decoration: none;
        font-size: 3rem;
        color: $main-color;
        font-weight: bold;
        line-height: 3rem;
      }
    }

    .task-list-cont {
      input[type="text"] {
        font-size: 1.5rem;
        width: 23vw;
        outline: none;
        border: none;
        border-bottom: 2px solid $main-color;
        background: none;
        color: $task-name-color;
        margin: 15px 0 20px 0;

        &::placeholder {
          color: $light-color;
          opacity: 0.7;
        }
      }
      .task-list {
        p {
          margin: 0;
          font-size: 1.7rem;
          font-family: $task-font;
          font-weight: light;
          color: $task-name-color;
          margin-bottom: 5px;
          a {
            text-decoration: none;
            color: $task-name-color;
            padding: 0 15px 0 0;
            display: inline-block;
            width: 300px;
            position: relative;
            &:hover {
              background: $task-name-color;
              color: $side-color;

              span.fa-times {
                position: absolute;
                top: 50%;
                left: 5%;
                visibility: visible;
                transform: translate(0, -50%);
                opacity: 0.5;

                &:hover {
                  opacity: 1;
                }
              }
              span.fa-pencil-alt {
                @extend span.fa-times;
                left: 15%;
              }
            }
            span.fas {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}

.active {
  background: $main-color;
  color: $side-color !important;
  padding: 0 15px 0 0;
}

//modal
.modal-cont {
  background: rgb(34, 40, 49);
}
.hide-todo {
  visibility: hidden;
  position: absolute;
  background: $side-color;
}
.show-todo {
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  background: $light-color;
  @include flex(center, center);
}

// classes with animations
