@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Saira+Condensed:wght@100;200;300;400;500&family=Saira+Extra+Condensed:wght@100;200;300;400&display=swap");
body {
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  min-height: 100%;
}

html {
  margin: 0;
  min-height: 100%;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  height: 100%;
}

.main, .notes {
  background: #fdcb9e;
  width: 80vw;
  padding: 20px 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}

.main .title, .notes .title {
  font-family: "Saira Condensed", sans-serif !important;
  font-size: 7rem;
  line-height: 6rem;
  text-align: left;
  color: #3f3f44;
  margin: 0 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.main hr, .notes hr {
  border: none;
  border-bottom: 1px solid #3f3f44;
  margin: 3px 0 0 20px;
}

.main .no-task-items, .notes .no-task-items, .main .no-todo-item, .notes .no-todo-item {
  margin: 250px auto;
}

.main .no-task-items h2, .notes .no-task-items h2, .main .no-todo-item h2, .notes .no-todo-item h2 {
  font-weight: bold;
  font-size: 2.5rem;
  color: #3f3f44;
}

.main .no-todo-item h4, .notes .no-todo-item h4 {
  font-size: 1.3rem;
  margin: 0;
  opacity: 0.5;
}

.main .no-todo-item .create-todo, .notes .no-todo-item .create-todo {
  padding: 15px 20px;
  border-width: 2px;
  border-color: #3f3f44;
  border-radius: 2px;
  background: none;
  outline: none;
  color: #3f3f44;
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.main .no-todo-item .create-todo:hover, .notes .no-todo-item .create-todo:hover {
  background: #3f3f44;
  color: #f6f6f6;
}

.main .add-item, .notes .add-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
}

.main .add-item .add-item-cont, .notes .add-item .add-item-cont {
  width: 60%;
  background: #f6f6f6;
  padding: 15px;
  border-radius: 5px;
  color: #3f3f44;
  margin-top: 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .add-item .add-item-cont input[type="text"], .notes .add-item .add-item-cont input[type="text"] {
  font-family: inherit;
  background: none;
  border: none;
  font-size: 1.3rem;
  outline: none;
  -webkit-box-flex: 12;
      -ms-flex-positive: 12;
          flex-grow: 12;
}

.main .todos-cont, .notes .todos-cont {
  font-family: "Nunito", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin-top: 30px;
}

.main .todos-cont .item-cont, .notes .todos-cont .item-cont {
  width: 60%;
}

.main .todos-cont .item-cont:hover .top, .notes .todos-cont .item-cont:hover .top,
.main .todos-cont .item-cont:hover .expanded-cont,
.notes .todos-cont .item-cont:hover .expanded-cont {
  -webkit-box-shadow: 5px 5px 0 rgba(63, 63, 68, 0.3);
          box-shadow: 5px 5px 0 rgba(63, 63, 68, 0.3);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.main .todos-cont .item-cont .top, .notes .todos-cont .item-cont .top {
  background: #f6f6f6;
  padding: 15px;
  color: #3f3f44;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  height: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
  border-radius: 3px 3px 0 0;
  position: relative;
}

.main .todos-cont .item-cont .top .priority-flag, .notes .todos-cont .item-cont .top .priority-flag {
  height: 60px;
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
}

.main .todos-cont .item-cont .top label, .notes .todos-cont .item-cont .top label {
  width: 18px;
  height: 18px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-right: 10px;
}

.main .todos-cont .item-cont .top .checkbox, .notes .todos-cont .item-cont .top .checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.main .todos-cont .item-cont .top .checkbox:not(:checked) ~ .no-check, .notes .todos-cont .item-cont .top .checkbox:not(:checked) ~ .no-check {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #61b15a;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .todos-cont .item-cont .top .checkbox:checked ~ .check, .notes .todos-cont .item-cont .top .checkbox:checked ~ .check {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #61b15a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .todos-cont .item-cont .top .checkbox:checked ~ .check::after, .notes .todos-cont .item-cont .top .checkbox:checked ~ .check::after {
  content: "✔";
  font-size: 1.5rem;
  color: #f6f6f6;
}

.main .todos-cont .item-cont .top .checkbox:checked ~ .check ~ .item, .notes .todos-cont .item-cont .top .checkbox:checked ~ .check ~ .item {
  text-decoration: line-through;
}

.main .todos-cont .item-cont .top .item, .notes .todos-cont .item-cont .top .item {
  margin: 0;
  font-size: 1.3rem;
  color: #3f3f44;
  font-weight: 400;
}

.main .todos-cont .item-cont .top button.expand, .notes .todos-cont .item-cont .top button.expand {
  margin-left: auto;
  background: none;
  outline: none;
  border: none;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}

.main .todos-cont .item-cont .top button.expand:hover, .notes .todos-cont .item-cont .top button.expand:hover {
  background: #fdcb9e;
}

.main .todos-cont .item-cont .top button.expand div, .notes .todos-cont .item-cont .top button.expand div {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.main .todos-cont .item-cont .expanded-cont, .notes .todos-cont .item-cont .expanded-cont {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5% 70% 20%;
      grid-template-rows: 5% 70% 20%;
  -ms-grid-columns: 2.5% 30% 5% 60% 2.5%;
      grid-template-columns: 2.5% 30% 5% 60% 2.5%;
  position: relative;
  background: #f6f6f6;
  color: #3f3f44;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #bbbb;
  opacity: 0;
  height: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0.26s, visibility 0.3s 0.26s, height 0.3s 0.25s;
  transition: opacity 0.3s 0.26s, visibility 0.3s 0.26s, height 0.3s 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.97, 0, 0.97);
          transition-timing-function: cubic-bezier(0.39, 0.97, 0, 0.97);
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont, .notes .todos-cont .item-cont .expanded-cont .date-priority-cont {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont, .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont, .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont, .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont label, .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont label, .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont label, .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont label {
  font-size: 1.2rem;
  font-weight: bold;
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont input[type="date"], .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont input[type="date"], .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont input[type="date"], .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont input[type="date"],
.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont .date,
.notes .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont .date,
.main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont .date,
.notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont .date,
.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont .priority-cont select,
.main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont .date-cont select,
.main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont select,
.notes .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont .priority-cont select,
.notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont .date-cont select,
.main .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont select,
.notes .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont select,
.notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont select {
  width: 100%;
  height: 30px;
  border: 1px solid;
  border-color: transparent transparent #3f3f44 transparent;
  border-radius: 3px;
  background: none;
  outline: none;
  font-size: 1.3rem;
  color: #3f3f44;
  margin-bottom: 20px;
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont select, .notes .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont select {
  height: auto !important;
}

.main .todos-cont .item-cont .expanded-cont .details-cont, .notes .todos-cont .item-cont .expanded-cont .details-cont {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .todos-cont .item-cont .expanded-cont .details-cont label, .notes .todos-cont .item-cont .expanded-cont .details-cont label {
  font-size: 1.2rem;
  font-weight: bold;
}

.main .todos-cont .item-cont .expanded-cont .details-cont textarea, .notes .todos-cont .item-cont .expanded-cont .details-cont textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  resize: none;
  background: #f6f6f6;
  padding: 10px;
  font-size: 1.2rem;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del, .notes .todos-cont .item-cont .expanded-cont .btn-save-del {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del .del, .notes .todos-cont .item-cont .expanded-cont .btn-save-del .del {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px 15px;
  margin-right: 0;
  background: none;
  border: 1px solid #e7305b;
  outline: none;
  font-family: inherit;
  border-radius: 100px;
  color: #e7305b;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del .del:hover, .notes .todos-cont .item-cont .expanded-cont .btn-save-del .del:hover {
  background: #e7305b;
  color: #f6f6f6;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del .del span, .notes .todos-cont .item-cont .expanded-cont .btn-save-del .del span {
  font-size: 18px;
}

.main .clear, .notes .clear {
  margin: 30px 0 0 0;
}

.main .clear .clear-done, .notes .clear .clear-done, .main .clear .delete-all, .notes .clear .delete-all {
  padding: 7px 50px;
  border-radius: 100px;
  border: 1px solid #07689f;
  background: none;
  color: #07689f;
  outline: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  position: relative;
  cursor: pointer;
}

.main .clear .clear-done .tooltip-text, .notes .clear .clear-done .tooltip-text, .main .clear .delete-all .tooltip-text, .notes .clear .delete-all .tooltip-text {
  visibility: hidden;
  background: #3f3f44;
  padding: 5px;
  border-radius: 3px;
  width: 100%;
  position: absolute;
  top: 125%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.main .clear .clear-done .tooltip-text::after, .notes .clear .clear-done .tooltip-text::after, .main .clear .delete-all .tooltip-text::after, .notes .clear .delete-all .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #3f3f44 transparent;
}

.main .clear .clear-done:hover, .notes .clear .clear-done:hover, .main .clear .delete-all:hover, .notes .clear .delete-all:hover {
  background: #07689f;
  color: #fdcb9e;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.main .clear .clear-done:hover .tooltip-text, .notes .clear .clear-done:hover .tooltip-text, .main .clear .delete-all:hover .tooltip-text, .notes .clear .delete-all:hover .tooltip-text {
  visibility: visible;
}

.main .clear .delete-all, .notes .clear .delete-all {
  margin-left: 20px;
  border-color: #e7305b;
  color: #e7305b;
}

.main .clear .delete-all:hover, .notes .clear .delete-all:hover {
  background: #e7305b;
}

.side-clock {
  min-height: 100vh;
  background: #3f3f44;
  padding: 20px 0;
  color: #fdcb9e;
  font-family: "Saira Extra Condensed", sans-serif;
  width: 20vw;
}

.side-clock .time-container {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-clock .time-container .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.side-clock .time-container .time h1 {
  display: inline-block;
  font-size: 10rem;
  text-transform: uppercase;
  margin: 0;
  line-height: 8rem;
  font-weight: 300;
}

.side-clock .time-container .time span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
  font-size: 5rem;
  line-height: 5rem;
}

.side-clock .time-container h2 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
}

.side-clock .time-container h3 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3rem;
  line-height: 3rem;
  margin: 0;
}

.side-nav {
  margin: 50px 0 0 0;
  position: relative;
  right: 0;
}

.side-nav ul {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-nav ul li {
  list-style-type: none;
  width: 100%;
  margin: 0 0 20px 0;
  text-align: right;
  padding: 3px 10px 0 20px;
}

.side-nav ul li:hover {
  background: #fdcb9e;
}

.side-nav ul li:hover a {
  color: #3f3f44;
}

.side-nav ul li:first-child {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}

.side-nav ul li:first-child:hover {
  color: #3f3f44;
}

.side-nav ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: #fdcb9e;
  font-weight: bold;
  line-height: 3rem;
}

.side-nav ul .task-list-cont input[type="text"] {
  font-size: 1.5rem;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #fdcb9e;
  background: none;
  color: #f6f6f6;
  margin: 15px 0 20px 0;
}

.side-nav ul .task-list-cont input[type="text"]::-webkit-input-placeholder {
  color: #f6f6f6;
  opacity: 0.7;
}

.side-nav ul .task-list-cont input[type="text"]:-ms-input-placeholder {
  color: #f6f6f6;
  opacity: 0.7;
}

.side-nav ul .task-list-cont input[type="text"]::-ms-input-placeholder {
  color: #f6f6f6;
  opacity: 0.7;
}

.side-nav ul .task-list-cont input[type="text"]::placeholder {
  color: #f6f6f6;
  opacity: 0.7;
}

.side-nav ul .task-list-cont .task-list p {
  margin: 0;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
  font-weight: light;
  color: #f6f6f6;
  margin-bottom: 5px;
}

.side-nav ul .task-list-cont .task-list p a {
  text-decoration: none;
  color: #f6f6f6;
  padding: 0 15px 0 0;
  display: inline-block;
  width: 95%;
  position: relative;
  left: 0;
}

.side-nav ul .task-list-cont .task-list p a:hover {
  background: #f6f6f6;
  color: #3f3f44;
}

.side-nav ul .task-list-cont .task-list p a:hover span.x-icon, .side-nav ul .task-list-cont .task-list p a:hover span.fa-pencil-alt {
  position: absolute;
  top: 50%;
  left: 5%;
  visibility: visible;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0.5;
  font-weight: bold;
}

.side-nav ul .task-list-cont .task-list p a:hover span.x-icon:hover, .side-nav ul .task-list-cont .task-list p a:hover span.fa-pencil-alt:hover {
  opacity: 1;
}

.side-nav ul .task-list-cont .task-list p a:hover span.fa-pencil-alt {
  left: 15%;
}

.side-nav ul .task-list-cont .task-list p a span.x-icon, .side-nav ul .task-list-cont .task-list p a:hover span.fa-pencil-alt {
  visibility: hidden;
}

.notes {
  position: absolute;
  padding: 20px 0 0 0;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
}

.notes .create-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.notes .create-note button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px 15px;
  border-radius: 100px;
  border: 1px solid #07689f;
  background: #07689f;
  color: #f6f6f6;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.notes .create-note button:hover {
  background: #065380;
}

.notes .main-container .grid-container {
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 40px;
  overflow-y: scroll;
}

.notes .main-container .grid-container .col-0 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.notes .main-container .grid-container .col-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.notes .main-container .grid-container .col-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.note-cont {
  width: 100%;
  word-wrap: break-word;
  position: relative;
  background: #ffe268;
  padding: 25px 20px 20px;
  margin-top: 30px;
  font-size: 1.3rem;
  color: #3f3f44;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.note-cont:hover {
  -webkit-box-shadow: 7px 7px 4px rgba(63, 63, 68, 0.4);
          box-shadow: 7px 7px 4px rgba(63, 63, 68, 0.4);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.note-cont .delete-note {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24px;
}

.note-cont .delete-note span {
  -webkit-transform: rotate(-35deg) translate(5px, -10px);
          transform: rotate(-35deg) translate(5px, -10px);
  font-size: 40px !important;
  color: #e7305b;
  cursor: pointer;
}

.note-cont .delete-note span:hover {
  -webkit-transform: rotate(-35deg) translate(5px, -20px);
          transform: rotate(-35deg) translate(5px, -20px);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.note-cont .note-title, .note-cont .note-details {
  text-align: left;
  outline: none;
  min-height: 28px;
}

.note-cont .note-details {
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f6f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f3f44;
}

.bg-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 50;
  background: rgba(63, 63, 68, 0.5);
}

.bg-modal .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  border-radius: 5px;
  background: #f6f6f6;
  margin: auto;
  padding: 45px 45px 20px 45px;
  position: relative;
  -webkit-box-shadow: 10px 10px 4px rgba(63, 63, 68, 0.6);
          box-shadow: 10px 10px 4px rgba(63, 63, 68, 0.6);
}

.bg-modal .modal .exit {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.bg-modal .modal .exit button {
  border: none;
  background: none;
  font-weight: bold;
  color: #e7305b;
  -webkit-transform: scale(1);
          transform: scale(1);
  outline: none;
  cursor: pointer;
}

.bg-modal .modal .exit button:hover span {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.bg-modal .modal .save {
  width: 100%;
  margin-top: 10px;
}

.bg-modal .modal .save button {
  margin: auto;
  background: none;
  border: 1px solid #428b46;
  color: #428b46;
  border-radius: 100px;
  padding: 5px 10px;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-modal .modal .save button:hover {
  background: #428b46;
  color: #f6f6f6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.bg-modal .modal .modal-note-title {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fdcb9e;
}

.bg-modal .modal .modal-note-title input[type="text"] {
  width: 100%;
  outline: none;
  border: none;
  background: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  padding: 5px 0;
}

.bg-modal .modal .modal-note-details {
  width: 100%;
}

.bg-modal .modal .modal-note-details textarea {
  width: 100%;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  border: none;
  padding: 5px 0;
}

.active {
  background: #fdcb9e;
  color: #3f3f44 !important;
  padding: 0 15px 0 0;
}

.notes-tag {
  color: #3f3f44 !important;
}

.Low {
  background: #ffcc00;
}

.Medium {
  background: #f57b51;
}

.High {
  background: #e7305b;
}

.expanding {
  opacity: 1 !important;
  visibility: visible !important;
  height: 267px !important;
}

.rotating {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.deleting {
  -webkit-animation: deleting 0.3s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
          animation: deleting 0.3s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
}

.appear {
  -webkit-animation: appear 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
          animation: appear 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
}

.done {
  -webkit-animation: done 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
          animation: done 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
}

.shrink {
  -webkit-animation: shrink 0.3s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
          animation: shrink 0.3s cubic-bezier(0.39, 0.97, 0, 0.97) forwards !important;
}

.hidden {
  display: none !important;
}

.show-note {
  -webkit-animation: show 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
          animation: show 0.5s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
}

.hide-note {
  -webkit-animation: hide 0.3s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
          animation: hide 0.3s cubic-bezier(0.39, 0.97, 0, 0.97) forwards;
}

@-webkit-keyframes show {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes hide {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes hide {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes shrink {
  from {
    height: 347px;
  }
  to {
    height: 0;
  }
}

@keyframes shrink {
  from {
    height: 347px;
  }
  to {
    height: 0;
  }
}

@-webkit-keyframes appear {
  from {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes deleting {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes deleting {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes done {
  0% {
    height: 81px;
  }
  100% {
    height: 0px;
  }
}

@keyframes done {
  0% {
    height: 81px;
  }
  100% {
    height: 0px;
  }
}

@media (max-width: 1330px) {
  .item-cont,
  .add-item-cont {
    width: 70%;
  }
}

@media (max-width: 1145px) {
  .item-cont,
  .add-item-cont {
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */