@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Saira+Extra+Condensed:wght@200;300&family=Spartan:wght@100;200;300;400&display=swap");
body {
  margin: 0;
  text-align: center;
  overflow-x: hidden;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  background: #fdcb9e;
  width: 80vw;
  min-height: 100vh;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  position: relative;
  right: 0;
}

.main .title {
  font-family: "Spartan", sans-serif !important;
  font-size: 5rem;
  line-height: 7rem;
  text-align: left;
  color: #3f3f44;
  margin: 0 20px;
  font-weight: 200;
  text-transform: uppercase;
}

.main hr {
  border: none;
  border-bottom: 1px solid #3f3f44;
  margin: 3px 0 0 20px;
}

.main .no-task-items, .main .no-todo-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .no-task-items h2, .main .no-todo-item h2 {
  font-weight: bold;
  font-size: 2.5rem;
}

.main .no-todo-item h4 {
  font-size: 1.3rem;
  margin: 0;
  opacity: 0.5;
}

.main .no-todo-item .create-todo {
  padding: 15px 20px;
  border-width: 2px;
  border-color: #3f3f44;
  border-radius: 2px;
  background: none;
  outline: none;
  color: #3f3f44;
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.main .no-todo-item .create-todo:hover {
  background: #3f3f44;
  color: #f6f6f6;
}

.main .todos-cont {
  font-family: "Nunito", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .todos-cont .item-cont {
  width: 60%;
}

.main .todos-cont .item-cont .top {
  width: 100% !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  margin-bottom: 0 !important;
  border-radius: 3px 3px 0 0 !important;
}

.main .todos-cont .item-cont .top label {
  width: 18px;
  height: 18px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-right: 10px;
}

.main .todos-cont .item-cont .top .checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.main .todos-cont .item-cont .top .checkbox:not(:checked) ~ .no-check {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #61b15a;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .todos-cont .item-cont .top .checkbox:checked ~ .check {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #61b15a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .todos-cont .item-cont .top .checkbox:checked ~ .check::after {
  content: "✔";
  font-size: 1.5rem;
  color: #f6f6f6;
}

.main .todos-cont .item-cont .top .checkbox:checked ~ .check ~ .item {
  text-decoration: line-through;
}

.main .todos-cont .item-cont .top .item {
  margin: 0;
  font-size: 1.3rem;
  color: #3f3f44;
  font-weight: 400;
}

.main .todos-cont .item-cont .top button.expand {
  margin-left: auto;
  background: none;
  outline: none;
  border: none;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}

.main .todos-cont .item-cont .top button.expand:hover {
  background: #fdcb9e;
}

.main .todos-cont .item-cont .top button.expand div {
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.main .todos-cont .item-cont .expanded-cont {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5% 70% 20%;
      grid-template-rows: 5% 70% 20%;
  -ms-grid-columns: 2.5% 30% 5% 60% 2.5%;
      grid-template-columns: 2.5% 30% 5% 60% 2.5%;
  background: #f6f6f6;
  color: #3f3f44;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #bbbb;
  opacity: 0;
  height: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0.26s, visibility 0.3s 0.26s, height 0.3s 0.25s;
  transition: opacity 0.3s 0.26s, visibility 0.3s 0.26s, height 0.3s 0.25s;
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont, .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont label, .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont label {
  font-size: 1.2rem;
  font-weight: bold;
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont #date, .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont #date, .main .todos-cont .item-cont .expanded-cont .date-priority-cont .date-cont .priority-cont select, .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont .date-cont select, .main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont select {
  width: 100%;
  height: 30px;
  border: 1px solid #3f3f44;
  border-radius: 3px;
  background: none;
  outline: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.3rem;
  color: #3f3f44;
  margin-bottom: 20px;
}

.main .todos-cont .item-cont .expanded-cont .date-priority-cont .priority-cont select {
  height: auto !important;
  padding: 1.5px 10px !important;
}

.main .todos-cont .item-cont .expanded-cont .details-cont {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .todos-cont .item-cont .expanded-cont .details-cont label {
  font-size: 1.2rem;
  font-weight: bold;
}

.main .todos-cont .item-cont .expanded-cont .details-cont textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del .del, .main .todos-cont .item-cont .expanded-cont .btn-save-del .save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px 15px;
  margin-right: 0;
  background: none;
  border: 1px solid #e7305b;
  outline: none;
  font-family: inherit;
  border-radius: 3px;
  color: #e7305b;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del .del:hover, .main .todos-cont .item-cont .expanded-cont .btn-save-del .save:hover {
  background: #e7305b;
  color: #f6f6f6;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del .del span, .main .todos-cont .item-cont .expanded-cont .btn-save-del .save span {
  font-size: 18px;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del .save {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-color: #61b15a !important;
  background: #61b15a !important;
  color: #f6f6f6;
  margin-right: 10px;
}

.main .todos-cont .item-cont .expanded-cont .btn-save-del .save:hover {
  background: #57a150 !important;
}

.main .todos-cont .add-item-cont, .main .todos-cont .item-cont .top {
  width: 60%;
  background: #f6f6f6;
  padding: 15px;
  border-radius: 5px;
  color: #3f3f44;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .todos-cont .add-item-cont input[type="text"], .main .todos-cont .item-cont .top input[type="text"] {
  font-family: inherit;
  background: none;
  border: none;
  font-size: 1.3rem;
  outline: none;
  -webkit-box-flex: 12;
      -ms-flex-positive: 12;
          flex-grow: 12;
}

.side-clock {
  min-height: 100vh;
  background: #3f3f44;
  padding: 20px 0;
  color: #fdcb9e;
  font-family: "Saira Extra Condensed", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 20vw;
}

.side-clock .time-container {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-clock .time-container .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

.side-clock .time-container .time h1 {
  display: inline-block;
  font-size: 10rem;
  text-transform: uppercase;
  margin: 0;
  line-height: 8rem;
  font-weight: 300;
}

.side-clock .time-container .time span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
  font-size: 5rem;
  line-height: 5rem;
}

.side-clock .time-container h2 {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
}

.side-clock .time-container h3 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3rem;
  line-height: 3rem;
  margin: 0;
}

.side-nav {
  margin: 50px 0 0 0;
  position: relative;
  right: 0;
}

.side-nav ul {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.side-nav ul li {
  list-style-type: none;
  width: 100%;
  margin: 0 0 20px 0;
  text-align: right;
  padding: 3px 10px 0 20px;
}

.side-nav ul li:hover {
  background: #fdcb9e;
}

.side-nav ul li:hover a {
  color: #3f3f44;
}

.side-nav ul li:first-child {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
}

.side-nav ul li:first-child:hover {
  color: #3f3f44;
}

.side-nav ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: #fdcb9e;
  font-weight: bold;
  line-height: 3rem;
}

.side-nav ul .task-list-cont input[type="text"] {
  font-size: 1.5rem;
  width: 80%;
  outline: none;
  border: none;
  border-bottom: 2px solid #fdcb9e;
  background: none;
  color: #f6f6f6;
  margin: 15px 0 20px 0;
}

.side-nav ul .task-list-cont input[type="text"]::-webkit-input-placeholder {
  color: #f6f6f6;
  opacity: 0.7;
}

.side-nav ul .task-list-cont input[type="text"]:-ms-input-placeholder {
  color: #f6f6f6;
  opacity: 0.7;
}

.side-nav ul .task-list-cont input[type="text"]::-ms-input-placeholder {
  color: #f6f6f6;
  opacity: 0.7;
}

.side-nav ul .task-list-cont input[type="text"]::placeholder {
  color: #f6f6f6;
  opacity: 0.7;
}

.side-nav ul .task-list-cont .task-list p {
  margin: 0;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
  font-weight: light;
  color: #f6f6f6;
  margin-bottom: 5px;
}

.side-nav ul .task-list-cont .task-list p a {
  text-decoration: none;
  color: #f6f6f6;
  padding: 0 15px 0 0;
  display: inline-block;
  width: 300px;
  position: relative;
}

.side-nav ul .task-list-cont .task-list p a:hover {
  background: #f6f6f6;
  color: #3f3f44;
}

.side-nav ul .task-list-cont .task-list p a:hover span.fa-times, .side-nav ul .task-list-cont .task-list p a:hover span.fa-pencil-alt {
  position: absolute;
  top: 50%;
  left: 5%;
  visibility: visible;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0.5;
}

.side-nav ul .task-list-cont .task-list p a:hover span.fa-times:hover, .side-nav ul .task-list-cont .task-list p a:hover span.fa-pencil-alt:hover {
  opacity: 1;
}

.side-nav ul .task-list-cont .task-list p a:hover span.fa-pencil-alt {
  left: 15%;
}

.side-nav ul .task-list-cont .task-list p a span.fas {
  visibility: hidden;
}

.active {
  background: #fdcb9e;
  color: #3f3f44 !important;
  padding: 0 15px 0 0;
}

.modal-cont {
  background: #222831;
}

.hide-todo {
  visibility: hidden;
  position: absolute;
  background: #3f3f44;
}

.show-todo {
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.expanding {
  opacity: 1 !important;
  visibility: visible !important;
  height: 267px !important;
}

.rotating {
  -webkit-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

@media (max-width: 1330px) {
  .main .todos-cont .item-cont, .main .todos-cont .add-item-cont, .main .todos-cont .item-cont .top {
    width: 70%;
  }
}

@media (max-width: 1145px) {
  .main .todos-cont .item-cont, .main .todos-cont .add-item-cont, .main .todos-cont .item-cont .top {
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */