<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div id="app">
      <div class="side-clock">
        <div class="time-container">
          <div class="time">
            <h1>{{hours}}:{{minutes}}</h1>
            <span>{{period}}</span>
          </div>
          <h2>{{month}} {{date}} {{year}}</h2>
          <h3>{{weekday}}</h3>
        </div>
        <nav class="side-nav">
          <ul>
            <li>MY TASK LISTS</li>
            <div class="task-list-cont">
              <div
                v-for="listName,index in taskList"
                :key="listName"
                class="task-list"
              >
                <p>
                  <a :href="'#list'+taskListId" @click.self="changeList(index)">
                    <span
                      type="button"
                      @click="deleteList(index)"
                      class="fas fa-times"
                    ></span>
                    {{listName}}</a
                  >
                </p>
              </div>
              <input
                type="text"
                name="list-name"
                placeholder="Enter name for task list"
                v-model="taskListName"
                @keydown.enter="addTask"
              />
            </div>
            <li><a href="#NOTES">NOTES</a></li>
          </ul>
        </nav>
      </div>

      <div class="main" :id="'#list'+taskListId">
        <h1 class="title">
          {{taskList.length !== 0 ?taskList[taskListId]:title}}
        </h1>
        <hr />
        <div v-if="!taskList.length" class="no-items">
          <h2>:(</h2>
          <h2>
            You don't have any tasks added to your {{taskListName}}, click to
            create one!
          </h2>
        </div>
        <div v-else class="">
          <button>Click to add a task item</button>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="app.js" type="module"></script>
  </body>
</html>
